TOKEN=abc123
WEATHER_API=abc123
ERROR_WEBHOOK=https://discord.com/api/webhooks

DISCORD_CLIENT_ID=12345678900
DISCORD_CLIENT_SECRET=abc123
DISCORD_REDIRECT_URI=https://

URL=https://my-super-discord-bot.com

DASHBOARD_API_KEYS=abc123

JWT_SECRET=abc123
DASHBOARD_URL=https://my-super-discord-bot.com
VITE_API_URL=https://api.my-super-discord-bot.com

TOPGG_TOKEN=abc123